body {
    background-color: #F5F0E0;
    background-size: cover;
    background-repeat: no-repeat;
}

.inline-block {
    display: inline-block;
    vertical-align:top;
    padding: 2px;
    margin: 10px;
}

.logo {
    width:30%;
    padding:2%;
    text-align:center;
}

nav {
    width:60%;
    padding:2%;
    background-color:#F5F0E0;
    font-family: gopher, sans-serif;
    font-size:24px;
    font-weight: bold;
}

nav button { 
    display: inline-block;
    width: 20%;
    height: 72px;
    float: right;
    padding: 4px;
} 

.Abt {
    background-color: #5FA47B;
}

.Contact {
    background-color: #C2663D;
}

.readMore {
    text-align: center;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 2%;
}

.parentContainer {
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
}

.parentContainer-border {
    text-decoration:double;
    border: 6px solid #000000;
    box-shadow:8px 8px #000000;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    height: 80%;
    display: flex;
    flex-direction: row-reverse;
}

.flexChild {
    font-family: gopher, sans serif;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
    width:50%;
    margin-top: 3%;
}

.img {
    text-align: center;
}

.img button {
    background-color: #5FA47B;
}

.selfImg {
    padding: 0.1%;
    width:70%;
    height: 40%;
}

.selfIntro {
    align-self: left;
    width: 50%;
    padding-left: 10%;
    margin-left: 5%;
    font-family:gopher, sans-serif;
}

.rspcaButton {
    background-color: #EBB45A;
}

.haowuButton {
    background-color: #C2663D;
}

.selfIntro h1 {
    font-size:48px;
    width: 70%;
}

p {
    font-size:24px;
    font-family: Source sans pro;
    font-weight:lighter;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
}

footer {
    background-color: #F5F0E0;
    color:black;
    font-family:gopher, sans-serif;
    font-size: 18px;
}

button { 
    height:70px;
    background-color:#353D87;
    color:white;
    font-family:gopher, sans-serif;
    font-size: 16px;
    font-weight:bold;
    text-decoration:double;
    padding: 16px;
    border: 6px solid #000000;
    box-shadow:8px 8px #000000;
}

footer ul {
    display:inline-block;
    vertical-align:top;
    padding:10%;
    display:flex;
    flex-direction:column;
}

.line {
    font-weight:bold;
    font-family:gopher, sans-serif;
    font-size: 36px;
    text-align: center;
}