body {
    background-color: #F5F0E0;
    background-size: cover;
    background-repeat: no-repeat;
}

.inline-block {
    display:inline-block;
    vertical-align:top;
}

.logo {
    width:33%;
    padding:1%;
    text-align:center;
    float:left;
}

nav {
    width:60%;
    padding:2%;
    background-color:#F5F0E0;
    font-family: gopher, sans-serif;
    font-size:24px;
    font-weight: bold;
    float:right;
}

nav ul { 
    width:80;
    margin-left:auto;
    float:right;
    padding:4px;
} 

nav ul li {
    padding-left: 15px;
    padding-right:15px;
}

.heroImg {
    height:800px;
    padding:25px;
    background-color: #F5F0E0;
}

.content {
    margin:0 auto;
    font-family:gopher, sans-serif;
}

h1 {
    font-size:24px;
    width:250px;
}

p {
    font-size:18px;
}

.portraitImg {
    float:right;
    padding:0.1%;
    height:200px;
    width:45%;
    vertical-align:middle;
}

.selfIntro {
    float:left;
    width: 45%;
    padding-left: 10%;
}

footer {
    background-color: #F5F0E0;
    color:black;
    font-family:gopher, sans-serif;
    font-size: 18px;
}

button { 
    height:70px;
    background-color:#353D87;
    color:white;
    font-family:gopher, sans-serif;
    font-size: 16px;
    font-weight:bold;
    text-decoration:double;
    padding: 16px;
    border: 6px solid #000000;
    box-shadow:8px 8px #000000;
}

footer ul {
    display:inline-block;
    vertical-align:top;
    padding:10%;
    display:flex;
    flex-direction:column;
}